body{
    font-family: sans-serif;
    font-weight: 500;
}
hr{
    border: 8px solid;
    border-style: dotted none none none;
    height: 4px;
    width: 5%;
    color: #EAF6F6;
    margin-top: 100px;
}
div{
    background-color: #E4F9F5;
    padding-top: 60px;
}
body{
    margin: 0;
    text-align: center;
}
span{
    text-decoration: underline;
}
h1{
    margin: 0;
    font-family: 'Lucida handwriting';
    line-height: 2;
    font-size: 50px;
    color:  #66BFBF;
    font-weight: bold;
}
h2{
    color:  #66BFBF;
    font-size: 2.3em;
    font-family: sans-serif;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
}
p{
    color: #40514E;
    font-weight: bolder;
    font-size: 1.1em;
}
.top-cloud{
    position: relative;
    left: 200px;
}
.bottom-cloud{
    position: absolute;
}
.dp{
    width: 30%;
}
.profile{
    background-color: white;
    width: 50%;
    position: relative;
    left: 300px;
}
.middle-container{
    background-color: white;
    padding-top: 10px;
}
.ms{
    margin-top: 25;
    margin-bottom: 0px;
}
.skill-row{
    width: 60%;
    margin: 0px auto;
    text-align: left;
    line-height: 2;
    background-color: white;
}
.skills{
    background-color: white;
}
.code{
    width: 28%;
    float: left;
    margin-right: 30px;
}
.chillies{
    width: 28%;
    float: right;
    margin-left: 30px;
}
.dnd{
    margin-top: 15px;
    margin-bottom: 0px;
}
.dndp{
    margin-top: 0px;
}
.contact-me{
    background-color: white;
}
.getintouch{
    margin-top: 0px;
}
.hotwings{
    margin-top: 40px;
    margin-bottom: 50px;
}
.btn{
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    background-color: #11999E;
    padding: 8px 15px;
    border-radius: 8px;
    margin-bottom: 200px;
}
.footer-link{
    text-decoration: none;
    margin-left: 30px;
}
.bottom-container{
    margin-top: 100px;
    background-color: #66BFBF;
    padding-bottom: 40px;
}
.last{
    margin-top: 30px;
    margin-bottom: 0px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
}